`helm package` produces malformed `.tgz`

### What happened?

When you run `helm package`, it produces a `.tgz` file that that works fine with GNU `tar` but is technically non-conforming to [RFC 1952 section 2.3.1.1](https://www.rfc-editor.org/rfc/rfc1952.html#page-8), and is rejected by some stickler Gzip implementations, such as the one that the Bazel downloader uses.

I tried to download [external-dns-1.20.0.tgz](https://github.com/kubernetes-sigs/external-dns/releases/tag/external-dns-helm-chart-1.20.0) using Bazel:

```bazel
# MODULE.bazel
http_archive(
    name = "external-dns-helm-chart",
    url = "https://github.com/kubernetes-sigs/external-dns/releases/download/external-dns-helm-chart-1.20.0/external-dns-1.20.0.tgz",
    integrity = "sha384-pfKzHGEwOh+i3LTLVS5BCg0kyIhxvqiMNmRMqVXiDB/sKp0++xb7F6onMuBlVjDN",
)
```

I got the following error:

```
Error in download_and_extract: java.io.IOException: Error extracting /home/will/.cache/bazel/_bazel_will/b9daf2201169cb22dce5a04a7c219ba1/external/+http_archive+external-dns-helm-chart/temp7900067191862921420/external-dns-1.20.0.tgz to /home/will/.cache/bazel/_bazel_will/b9daf2201169cb22dce5a04a7c219ba1/external/+http_archive+external-dns-helm-chart/temp7900067191862921420: Extra subfield lenght exceeds remaining bytes in extra: 21064 > 37
```

### What did you expect to happen?

I expected it to extract the archive successfully, the way GNU `tar` does it.

### How can we reproduce it (as minimally and precisely as possible)?

Take any archive produced by `helm package`. You can use [this one](https://github.com/kubernetes-sigs/external-dns/releases/download/external-dns-helm-chart-1.20.0/external-dns-1.20.0.tgz) from kubernetes-sigs/external-dns, which originally motivated this issue, or you can build one with any version of Helm. I tried it with versions 3.11.3 - 4.1.1.

Given that archive, this Python script illustrates the problem by poking around the header:

```python
from struct import unpack
from urllib.request import urlopen

# Read an archive as raw bytes.
url = "https://github.com/kubernetes-sigs/external-dns/releases/download/external-dns-helm-chart-1.20.0/external-dns-1.20.0.tgz"
with urlopen(url) as r:
    archive = r.read()

# Gzip header (RFC 1952): ID1 ID2 CM FLG MTIME[4] XFL OS [XLEN[2] if FEXTRA]
flg = archive[3]
assert flg & 0x04, "FEXTRA flag not set"

xlen = unpack('<H', archive[10:12])[0]
extra = archive[12:12 + xlen]
print(f"XLEN = {xlen}")
print(f"Extra field bytes: {extra.hex()}")

offset = 0
while offset < len(extra):
    si1, si2 = extra[offset], extra[offset + 1]
    sublen = unpack('<H', extra[offset + 2:offset + 4])[0]
    remaining = len(extra) - offset - 4
    print(f"Subfield SI1=0x{si1:02x} SI2=0x{si2:02x} LEN={sublen}")
    print(f"Remaining bytes after subfield header: {remaining}")
    if sublen > remaining:
        print(f"ERROR: subfield length {sublen} exceeds remaining bytes {remaining}")
        break
    offset += 4 + sublen
```

You should see `ERROR: subfield length 21064 exceeds remaining bytes 37`, similar to the Bazel error.

It looks like this is due to [logic in `save.go`](https://github.com/helm/helm/blob/v4.1.1/pkg/chart/v2/util/save.go#L135) that saves the static blob [`+aHR0cHM6Ly95b3V0dS5iZS96OVV6MWljandyTQo=`](https://github.com/helm/helm/blob/v4.1.1/pkg/chart/v2/util/save.go#L36) in the extra field. That extra field does not conform to [RFC 1952 section 2.3.1.1](https://www.rfc-editor.org/rfc/rfc1952.html#page-8) which says that the extra field must consist of 4 subsections: `SI1`, `SI2`, `LEN`, and then the raw data. It looks like something Base64-encoded but it's undocumented. The second 2 bytes are `HR`, and those are interpreted as a 16-byte little-endian integer i.e. `0x5248` i.e. 21064. Then the rest of the blob after the 4-byte header is 37 bytes.

I'm not sure what that blob is, but it should have the proper format for the extra field. It needs those `SI1`, `SI2`, and `LEN` subsections.

### Helm version

<details>

```console
$ helm version
# paste output here
```
</details>


### Kubernetes version

<details>

```console
$ kubectl version
# paste output here
```

</details>


Looks like `aHR0cHM6Ly95b3V0dS5iZS96OVV6MWljandyTQo=` is base-64 for some sort of rick roll. Probably safe to say this is not load-bearing and could withstand proper formatting. Idk if you want to keep it at all.